@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Karla;
}

body {
  background: #e0f1e8;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 37px;
}

#message-sent {
  background-color: #2a4144;
  color: white;
  font-weight: 400;
  padding: 25px;
  flex-direction: column;
  gap: 15px;
  border-radius: 8px;
  display: none;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  width: 343px;
  padding: 54px;
  gap: 23px;
}

.header {
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -1px;
  text-align: left;
  color: #2a4144;
  margin-left: -36px;
}

.info-style {
  display: flex;
  flex-direction: column;
  font-size: 15px;
  color: #2a4144;
  gap: 24px;
}

.person {
  display: flex;
  flex-direction: column;
}
#first-name {
  border: 1px solid #86a2a5;
  border-radius: 8px;
  padding: 12px 24px;
}

#last-name {
  border: 1px solid #86a2a5;
  border-radius: 8px;
  padding: 12px 24px;
}

#email {
  border: 1px solid #86a2a5;
  border-radius: 8px;
  padding: 12px 24px;
}

#error-message {
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #d73c3c;
  display: none;
}

.query-type {
  transform: translate(-48px, 10px);
}

#error-message-query {
  transform: translate(-20px, -17px);
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #d73c3c;
  display: none;
}

.radio-group {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.general-support {
  border: 1px solid #86a2a5;
  border-radius: 8px;
  padding: 12px 24px;
}

#message {
  display: flex;
  flex-direction: column;
  border: 1px solid #86a2a5;
  border-radius: 8px;
  padding: 46px 24px;
}

#error-message-checkbox {
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #d73c3c;
  transform: translate(-2px, -16px);
  display: none;
}

.button {
  color: white;
  background-color: #0c7d69;
  border-radius: 8px;
  padding: 16px 115px;
  font-size: 20px;
  border: none;
  cursor: pointer;
}

@media (min-width: 768px) {
  body {
    padding: 65px;
  }
  .main {
    width: 690px;
  }

  .header {
    margin-left: -10px;
    display: flex;
    align-self: flex-start;
  }

  .first-last-container {
    display: flex;
    flex-direction: row;
    gap: 16px;
  }

  #first-name {
    padding: 12px 73px;
  }

  #last-name {
    padding: 12px 73px;
  }

  .query-type {
    transform: translate(-235px, 7px);
  }

  #error-message-query {
    transform: translate(-215px, -17px);
    display: none;
  }

  .radio-group {
    flex-direction: row;
  }

  .general-support {
    padding: 12px 72px;
  }

  #message {
    padding: 81px 220px;
  }

  .checkbox-container {
    margin-left: -247px;
  }

  .button {
    padding: 16px 267px;
  }
}

@media (max-width: 1440px) {
  body {
    padding: 65px;
  }

  .main {
    width: 736px;
  }

  .header {
    margin-left: -10px;
    display: flex;
    align-self: flex-start;
  }

  .first-last-container {
    display: flex;
    flex-direction: row;
    gap: 16px;
  }

  #first-name {
    padding: 12px 73px;
  }

  #last-name {
    padding: 12px 73px;
  }

  #error-message {
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #d73c3c;
    display: none;
  }

  .query-type {
    transform: translate(-254px, 7px);
  }

  #error-message-query {
    transform: translate(-230px, -22px);
    display: none;
  }

  .radio-group {
    flex-direction: row;
  }

  .general-support {
    padding: 12px 79px;
    cursor: pointer;
  }

  #message {
    padding: 81px 235px;
  }

  .checkbox-container {
    margin-left: -247px;
  }

  #error-message-checkbox {
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #d73c3c;
    transform: translate(-133px, -15px);
    display: none;
  }
  .button {
    padding: 16px 279px;
  }
}
